<ion-header *ngIf="!this.loadbenefit">
  <ion-toolbar class="saleskit-background-color">
          <ion-item lines="none" class="saleskit-background-color">
              <ion-buttons slot="start" style="margin: 0px;" (click)="gotosaleskit()">
                  <ion-icon name="ios-arrow-back" color="light"></ion-icon>&nbsp;<span style="color: white;">Back</span>
                </ion-buttons>
            <ion-searchbar (ionInput)="searchbar($event)" mode="md"></ion-searchbar>
            <!-- <ion-input (ionInput)="searchbar($event)" style="border: 0.5px solid grey;
            /* border-radius: 8px; padding: 10px;" placeholder='Search Menu'></ion-input> */ -->
            <!-- <ion-icon slot="end" (click)="searchbegin()" *ngIf="this.a == 0" src="assets/icon/magnifier.svg"></ion-icon> -->
            <ion-icon slot="end" ios="ios-notifications" md="md-notifications"></ion-icon>
          </ion-item>
  </ion-toolbar>
  <div id="test" style="background-color: #f7f7f7;">
    <a href="javascript:void(0);" style="color: #4892d4; background-color: white;" class="acc-handle" (click)="nambahborder()" tabindex="0">
      <div *ngIf="accordion" style="padding: 5px; display: flex; flex-direction: row;">
      <p style="transition: all .25s ease; height: 25px; line-height: 1.5em; overflow: hidden;">
      {{this.benefitDesc[0]}}
      </p>
      <p style="padding: 9 0 0 0 !important; display: flex; align-items: center;" class="ion-float-left">
        <ion-icon name="arrow-dropdown-circle"></ion-icon>
      </p>
    </div>
    <div *ngIf="!accordion" style="padding: 5px; display: flex; flex-direction: row;">
      <p style="transition: all .25s ease;">
      {{this.benefitDesc[0]}}
      </p>
      <p style="padding: 9 0 0 0 !important; display: flex; align-items: center;" class="ion-float-left">
        <ion-icon name="arrow-dropup-circle"></ion-icon>
      </p>
    </div>
    </a>
  </div>
</ion-header>

<ion-content #pageContent fullscreen [scrollEvents]="true" (ionScroll)="onScroll($event)" *ngIf="!this.loadbenefit">
    <div style="padding: 5px; margin: 5px;" *ngIf="!this.loadbenefit">
        <swiper [config]="config" [(index)]="index">
          <div *ngFor="let benefit of benefitFile">
              <div *ngIf="benefitFile.length > 0">
            <ion-item style="margin: 0px;
            border: 0.7px solid gray;
            border-radius: 20px;
            box-shadow: 0px 0px 1px 0px #000;
            padding: 12px 0px 12px 0px;" lines="none" (click)="gotowhere(benefit)">
              <img slot="start" style="width: 20%; padding: 0px; margin: 0px;" *ngIf="benefit.content_file_download.toLowerCase().lastIndexOf('.pdf') > -1" src='assets/PNG/pdf-icon.png'/>
              <img slot="start" style="width: 20%; padding: 0px; margin: 0px;" *ngIf="benefit.content_file_download.toLowerCase().lastIndexOf('.xls') > -1 || benefit.content_file_download.toLowerCase().lastIndexOf('.xlsx') > -1" src='assets/PNG/excel-icon.png'/>
              <img slot="start" style="width: 20%; padding: 0px; margin: 0px;" *ngIf="benefit.content_file_download.toLowerCase().lastIndexOf('.ppt') > -1 || benefit.content_file_download.toLowerCase().lastIndexOf('.pptx') > -1" src='assets/PNG/ppt-icon.png'/>
              <img slot="start" style="width: 20%; padding: 0px; margin: 0px;" *ngIf="
              benefit.content_file_download.toLowerCase().lastIndexOf('.jpg') > -1 || 
              benefit.content_file_download.toLowerCase().lastIndexOf('.jpeg') > -1||
              benefit.content_file_download.toLowerCase().lastIndexOf('.png') > -1 ||
              benefit.content_file_download.toLowerCase().lastIndexOf('.gif') > -1" [src]="'http://mncmediakit.com/datafile/thumbnail/'+benefit.id_filetype+'/'+benefit.content_file_download"/>
              <div style="display: flex; flex-direction: column; padding: 10px; margin: 0px; white-space:nowrap;">
                <span slot="end" style="font-weight: 600; font-size: 12px;">{{benefit.content_title}}</span>
                <span slot="end" style="font-weight: 400; font-size: 10px;">{{benefit.nama_benefit}}&nbsp;:&nbsp;{{benefit.filetype_name}}</span>
                <span slot="end" style="font-weight: 200; font-size: 8px;">{{benefit.BU_SHORT_NAME}}</span>
                <span slot="end" style="font-weight: 200; color: gray; font-size: 8px;">{{benefit.updated_at}}</span>
              </div>
            </ion-item>  
            </div>
          </div>
        </swiper>
        <div style="display: flex;
        background-color: #f7f7f7;
        justify-content: center;" *ngIf="this.benefitFile.length < 1 && !this.loadbenefit">
            <img style="width: 40%" src="assets/img/noevent.png">
          </div>
        </div>
        <div class="scrolling-wrapper" style="z-index: 999; background-color: white;">
            <ion-buttons style="margin: 0px;">
                <!-- <ion-icon name="ios-arrow-back" color="light"></ion-icon>&nbsp;<span style="color: white;">Back</span> -->
                <ion-button [ngClass]="{'active-class':activebutton === gen.id_typespot, 'not-active-class': activebutton !== gen.id_typespot}" *ngFor="let gen of typespot" (click)="active(gen.id_typespot)">{{gen.nama}}</ion-button>
              </ion-buttons>
        </div>
<ion-row *ngIf="!this.loadtypespot && typespotFile.length > 0">
  <ion-col size="6" *ngFor="let typesp of typespotFile" style="padding: 2px;">
    <ion-card (click)="gotowhere(typesp)">
      <img *ngIf="typesp.content_file_download.toLowerCase().lastIndexOf('.pdf') > 1" src="assets/img/pdf.jpg">
      <img *ngIf="typesp.content_file_download.toLowerCase().lastIndexOf('.xls') > 1 || typesp.content_file_download.toLowerCase().lastIndexOf('.xlsx') > 1" src="assets/img/xls.jpg">
      <img *ngIf="typesp.content_file_download.toLowerCase().lastIndexOf('.ppt') > 1 || typesp.content_file_download.toLowerCase().lastIndexOf('.pptx') > 1" src="assets/img/PPT.jpg">
      <img *ngIf="typesp.content_file_download.toLowerCase().lastIndexOf('.jpg') > 1 || typesp.content_file_download.toLowerCase().lastIndexOf('.jpeg') > 1 || typesp.content_file_download.toLowerCase().lastIndexOf('.png') > 1 || typesp.content_file_download.toLowerCase().lastIndexOf('.gif') > 1" [src]="'http://mncmediakit.com/datafile/thumbnail/'+typesp.id_filetype+'/'+typesp.content_file_download" onError="this.src='assets/img/no-img.jpg'">
      <img *ngIf="typesp.content_file_download.toLowerCase().lastIndexOf('.') < 0" [src]="transform(typesp.content_file_download)">
      <img *ngIf="typesp.content_file_download.toLowerCase().includes('.be')" [src]="transform(typesp.content_file_download)">
    <ion-card-content>
      <h3 style="font-weight: 600; font-size: 12px; white-space: nowrap;">{{typesp.content_title}}</h3>
      <p style="font-weight: 400; font-size: 10px;">{{typesp.nama_benefit}}&nbsp;:&nbsp;{{typesp.nama_typespot}}</p>
      <p style="font-weight: 200; font-size: 8px;">{{typesp.BU_SHORT_NAME}}</p>
      <p style="font-weight: 200; color: gray; font-size: 8px;">{{typesp.updated_at}}</p>
  </ion-card-content>
    </ion-card>
  </ion-col>
</ion-row>
<ion-row *ngIf="this.typespotFile.length < 1 && !this.loadbenefit">
  <div style="display: flex;
  background-color: #f7f7f7;
  justify-content: center; align-items: center; margin-top: 50%;
" >
      <img style="width: 40%" src="assets/img/noevent.png">
    </div>
</ion-row>

<ion-infinite-scroll threshold="200px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="circular"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="test()">
      <ion-icon src="assets/icon/filter.svg"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab style="left: 45%;" *ngIf="hidebutton" vertical="bottom" horizontal="center" slot="fixed">
          <ion-button shape="round" color="light" (click)="scrollToTop()"><ion-icon name="arrow-up" style=" color: blueviolet;"></ion-icon>&nbsp;<span style="color: blueviolet;">Top</span></ion-button>
    </ion-fab>
    <ion-fab *ngIf="viewdownload" vertical="center" horizontal="center" slot="fixed">
                <circle-progress style="display: flex; justify-content: center; z-index: 999 !important; align-items: center;"
                [percent]="this.progress"
                [radius]="30"
                [outerStrokeWidth]="2"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#ffffff'"
                [innerStrokeColor]="'#ffffff'"
                [animation]="true"
                [animationDuration]="700"
              ></circle-progress>
        <!-- </ion-fab-button> -->
      </ion-fab>
</ion-content>
<ion-content *ngIf="this.loadbenefit">
    <ion-fab vertical="center" horizontal="center" slot="fixed">
        <ion-fab-button>
          <img [src]="'assets/img/loaded.gif'" style="display: flex; justify-content: center; align-items: center;" />
        </ion-fab-button>
      </ion-fab>
</ion-content>
