<!-- <ion-header>
  <ion-toolbar>
    <div style="display: flex; justify-content: center; align-items: center;">
      <div style="display: flex;">
        <ion-buttons>
          <ion-button (click)="gobacktoawalan()">
            <ion-icon name="arrow-back" style="padding: 5px;
                font-size: 1.8em; color: #000;"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>
      <div style="display: flex; flex: 2">
        <span>cus</span>
      </div>
      <div style="display: flex; align-items: center;" (click)="presentPopover($event)">
        <ion-icon name="more" style="padding: 5px;
        font-size: 1.8em; color: #000;"></ion-icon>
      </div>
    </div>
  </ion-toolbar>
</ion-header> -->

<ion-content padding="none" margin="none" #fullscreen>
  <swiper [config]="config" [(index)]="index" style="padding: 5px">
        <div class="swipper-zoom-container" *ngFor="let u of photo">
          <img [src]="'https://mncmediakit.com/datafile/portal/'+this.number+'/'+u.images" />
      </div>
  </swiper>
</ion-content>
<ion-fab vertical="top" horizontal="left" slot="fixed">
  <ion-fab-button (click)="gobacktoawalan()">
    <ion-icon name="arrow-back" style="padding: 5px;
    font-size: 1.8em;" color="light"></ion-icon>
  </ion-fab-button>
</ion-fab>
