<ion-header>
    <ion-toolbar>
      <ion-title>Transaction</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-card style="border-radius: 10px;" button="true" (click)="goto('transaction')">
      <img src="assets/img/back1.jpg"/>
      <div style="line-height: 0.3;">
      <div class="card-title">CAM Activity</div>
      <div class="card-subtitle">Client Activity Management</div>
    </div>
    </ion-card>
    <ion-card style="border-radius: 10px;">
      <img src="assets/img/back3.jpg"/>
      <div style="line-height: 0.3;">
      <div class="card-title">SAM Concept</div>
      <div class="card-subtitle">Sales Activity Management</div>
    </div>
    </ion-card>
    <ion-card style="border-radius: 10px;">
      <img src="assets/img/back2.jpg"/>
      <div style="line-height: 0.3;">
      <div class="card-title">SAM Package</div>
      <div class="card-subtitle">Sales Adsfsdfivity Management</div>
    </div>
    </ion-card>
  </ion-content>
  