 <ion-tabs [scrollHide]="footerScrollConfig" [scrollContent]="pageContent" >
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="transactionpage">
        <ion-icon name="calendar" color="tertiary"></ion-icon>
        <ion-label color="tertiary">Transaction</ion-label>
        <ion-badge color="danger">6</ion-badge>
      </ion-tab-button>
  
      <ion-tab-button tab="productknowledge">
        <ion-icon name="folder"></ion-icon>
        <ion-label>Product</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="clientknowledge">
        <ion-icon src="assets/icon/tambah.svg"></ion-icon>
        <ion-label>Add Events</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="clientknowledge">
        <ion-icon name="pie"></ion-icon>
        <ion-label>Client</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="about">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>About</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

