<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button (click)="goback()"><ion-icon name="arrow-back" style="padding: 5px;
            font-size: 1.8em; color: #000;"></ion-icon></ion-button>
            </ion-buttons>
            <img [src]="'assets/logo.png'" width="20%" style="border: none; padding: 5px;" slot="start"/>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let artcl of article">
    <div style="padding: 10px; display: flex; flex-direction: column;">
        <span style="font-weight: 600;
        font-family: Barlow Bold;
        font-size: 20px;">{{artcl.judul}}</span>
        <span style="font-style: italic;
        font-size: 10px;
        padding-top: 10px;">source:&nbsp;{{artcl.sumber}}</span>
    </div>

    <div style="display: flex; flex-direction: column; padding: 5px;">
      <img src="http://mncmediakit.com/datafile/portal/{{artcl.id_kategori}}/{{artcl.cover}}">
      <span style="font-style: italic;
      font-size: 10px;
      padding-top: 10px;">Posted on {{this.posted}}</span>
      <div [innerHTML]="artcl.deskripsi" style="padding: 5px;"></div>
      <span>Advertiser:&nbsp;{{artcl.advertiser[0].nama_adv}}</span>
      <!-- <div style="background-color: gray; border-radius: 10px; flex: 1;">#{{artcl.portal_tag[0].nama_tag}}</div> -->
    </div>
    <div style="display: flex; flex-direction: column">
    <ion-buttons style="margin: 0px; 
        display: flex;
        justify-content: flex-start;
        padding: 10px;">
            <!-- <ion-icon name="ios-arrow-back" color="light"></ion-icon>&nbsp;<span style="color: white;">Back</span> -->
            <ion-button color="tertiary">#{{artcl.portal_tag[0].nama_tag}}</ion-button>
          </ion-buttons>
          <span style="font-weight: 600;
          font-family: Barlow Bold;
          font-size: 20px; padding: 10px;">Other Posts</span>
          <ion-item *ngFor="let sgs of suggest" style="padding: 10px;" (click)="detail(sgs)" lines="none">
              <img class="artikel-image" slot="start" [src]="'http://mncmediakit.com/datafile/portal/thumbnail/'+sgs.id_kategori+'/'+sgs.cover"/>
              <div style="margin: 0px; display: flex; flex-direction: column; font-size: 9px; line-height: 1.5;">
                  <span style="font-weight: 600;">{{sgs.judul}}</span>
                  <span style="font-weight: 400;">{{this.posted_sgs}}</span>
                </div>
          </ion-item>
    </div>
  </div>
</ion-content>
