@font-face {
  font-family: 'Poppin';
  src: url('../assets/fonts/Poppins-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Fjalla';
  src: url('../assets/fonts/FjallaOne-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  }

@font-face {
    font-family: 'Righteous';
    src: url('../assets/fonts/Righteous/Righteous-Regular.ttf');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Barlow Regular';
    src: url('../assets/fonts/Barlow/Barlow-Regular.ttf');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Barlow Extra Bold';
    src: url('../assets/fonts/Barlow/Barlow-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
  }

  @font-face {
    font-family: 'Barlow Bold';
    src: url('../assets/fonts/Barlow/Barlow-Bold.ttf');
    font-weight: 600;
    font-style: normal;
  }