<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start" (click)="myBackButton()">
            <ion-icon name="arrow-back" style="padding: 5px;
            font-size: 1.8em; color: #fff;"></ion-icon>
        </ion-buttons>
      <span style="display: flex;
      justify-content: center;">Add File</span>
      <ion-buttons slot="end" (click)="addEvent()">
        <ion-icon name="checkmark" style="font-size: 24px;
      padding: 5px;
      font-weight: 800;"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
    </ion-header>


<ion-content>
  <span>te</span>
</ion-content>
