<ion-header>
  <ion-toolbar #toolbar id="toolbar" shadow="none" class="warna-background-color">
      <img *ngIf="!this.logo" [src]="'assets/logo.png'" width="20%" style="border: none; padding: 5px;" slot="start"/>
      <img *ngIf="this.logo" [src]="'assets/icon/MEDIAKITPUTIH.PNG'" width="20%" style="border: none; padding: 5px;" slot="start"/>
      <ion-searchbar (ionInput)="searchbar($event)" mode="md" color="light" slot="start"></ion-searchbar>
      <!-- <ion-input (ionInput)="searchbar($event)" style="border: 0.5px solid grey;
      /* border-radius: 8px; padding: 10px;" placeholder='Search Menu'></ion-input> */ -->
  		<!-- <ion-icon slot="end" (click)="searchbegin()" *ngIf="this.a == 0" src="assets/icon/magnifier.svg"></ion-icon> -->
  		<ion-icon #iconatas (click)="gotologout()" id="iconatas" slot="end" name="log-out" style="color: white; font-size: 2em; padding: 15px;"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content #pageContent class="warna-background-color" [scrollEvents]="true" (ionScroll)="onScroll($event)">
    <!-- <ion-item class="new-background-color"></ion-item> -->
  <!-- <ion-item class="new-background-color"> -->
    <div style="display: flex; justify-content: center;" *ngFor="let id of myId">
          <div style="display: flex;
          align-items: center;
          border-radius: 25px;
          background-color: white;
          padding: 10px;
          box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
          position: relative;
          z-index: 999;
          top: 40px;
          width: 90%;
          height: 110px;
          justify-content: center;">
                  <img style="width: 60px;
                  border-radius: 200px;
                  height: 60px;
                  object-fit: cover;" [src]="'http://mncmediakit.com/datafile/user/thumb/'+id.IMAGES"  onError="this.onerror=null;this.src='assets/icon/user.png'">
                  <div slot="end" style="display: flex; flex-direction: column; margin: 0px; padding: 10px">
                      <span style="font-size: 19px;
                      font-weight: 600;">Hi, {{id.NAME}}</span>
                      <span style="font-size: 15px;
                      font-weight: 400;">What will you do today ?!</span>
                    </div>
            </div>
          </div>
  <!-- </ion-item> -->
    <!-- <ion-icon slot="end" src="assets/icon/about-us-1.png"></ion-icon> -->
    <ion-item lines="none" style="margin-bottom: -2px;" style="background-color: white;">
    	<ion-row style="margin-top: 40px; display: flex; justify-content: space-around; width: 100%;">
    		<ion-col size="3" *ngFor="let im of imageIcon; let i=index">
          <div style="display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          flex: 1;
          margin: 0px;
          padding: 0px;">
          <ion-card style="display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 4000px; padding: 15px" class="animated jackInTheBox delay-{{ i + 0.5 }}s" [ngStyle]="{'background-color': getColor(im)}">
            <ion-icon src="{{im.icon}}" (click)="gotopage(im)" [ngStyle]="{'fill': getcolor2(im), 'font-size': '1.2rem'}"></ion-icon>
          </ion-card>
          <span style="font-size: 14px; justify-content: center; text-align: center; font-weight: bold;" [ngStyle]="{'color':getColor(im)}">{{im.name}}</span>
        </div>
    			<!-- <img src="{{im.icon}}" [ngClass]="{'abuabu': !im.active}" class="animated jackInTheBox delay-{{ i + 0.5 }}s" (click)="gotopage(im)"/> -->
    		</ion-col>
    	</ion-row>
    </ion-item>
    <div style="display: flex; flex-direction: column; justify-content: center; background-color: white;">
      <h2 style="text-align: left;
      background-color: white;
      word-spacing: 0px;
      margin: 10px;
      padding-top: 10px;
      font-family: Righteous
  ">Top News For You</h2>
    </div>
    <!-- <div class="scrolling-wrapper" style="z-index: 999; background-color: white; padding: 15px;">
        
    </div> -->
    <div style="background-color: white; padding: 5px">
    <swiper [config]="config" [(index)]="index">
      <div class="cardSlide ion-activatable" [ngStyle]="{'background': getColor3(u)}" *ngFor="let u of kategori" (click)="setActive(u)">
        <span style="font-size: 12px; font-weight: bold; color: white">{{u.nama_kategori}}</span>
        <div style="width: 40px; background-color: white; height: 2px;" *ngIf="u.isActive"></div>
        <ion-ripple-effect></ion-ripple-effect>
      </div>
    </swiper>
  </div>

    <ion-virtual-scroll [items]="berita" style="background-color: white;" *ngIf="this.berita.length > 0">
        <div *virtualItem="let item" style="padding: 10px;" (click)="detail(item)" lines="none" style="display: flex; flex-direction: row; padding: 10px; align-items: center;">
          <div style="display: flex; flex: 1;" *ngIf="!item.cover && !item.images">
              <img class="artikel-image" [src]="getVideoImage(item.video)">
              <!-- <img *ngIf="item.type_video === 'YOUTUBE'" class="artikel-image" slot="start" [src]="getImage(item)"/> -->
          </div>
          <div style="display: flex; flex: 1" *ngIf="!item.video">
            <img *ngIf="!item.type_video" class="artikel-image" slot="start" [src]="getImage(item)"/>
          </div>
            <div style="margin: 0px; padding: 5px; display: flex; flex: 3; flex-direction: column; font-size: 9px; line-height: 1.5;">
                <span style="font-weight: 600; font-size: 14px;">{{item.judul}}</span>
                <span style="font-weight: 400;">{{setDate(item.created_at)}}</span>
              </div>
            </div>
      </ion-virtual-scroll>
      <div *ngFor="let number of [0,1,2,3,4,5,6]">
      <ion-item *ngIf="this.berita.length < 1">
        <ion-thumbnail slot="start">
          <ion-skeleton-text></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </div>
      <!-- <div style="background-color: white;">
      <h2 style="text-align: center;">Graph</h2>
      <canvas #barChart style="background-color: white;"></canvas>
      </div> -->
</ion-content>
    
