ion-icon {
  font-size: 20px;
}

*, *:before, *:after {
  font-family: Poppin
}

.searchbar-input {
  border: 0 !important;
  box-shadow: none !important;
}
.header-md:after {
  background-position: unset;
  height: unset;
}

.active-class {
  background: linear-gradient(to right, rgba(56,2,50,1) 0%, rgba(0,40,66,1) 100%);
  color: darkgray;
  border-radius: 20px;
  // padding: 5px 20px 5px 20px;
  border: 1px solid #dadada;
  box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.4);
}
.scrolling-wrapper {
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  ion-buttons {
    display: inline-block;
  }
}

.artikel-image {
  display: block;
  height: 80px;
  width: 80px;
  object-fit: cover !important;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.not-active-class {
  background-color:#f7f7f7;
  color: darkgray;
  border-radius: 20px;
  // padding: 5px 20px 5px 20px;
  border: 1px solid #dadada;
  box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.4);
}

video{
  width: 100% !important;
    height: 100% !important;
}

.iconputih{
  color: white;
  transition: var(color) 3s ease-in;
}

.iconabu{
  color: #1e1e1e !important;
  transition: var(color) 3s ease-in;
}
.searchall{
	border: 0.8px solid gray; 
	border-radius: 70px;
}
.slider-image{
	min-width: 351px;
}

.abuabu{
 filter: grayscale(100);
}

ion-card{
            height: 98% !important;
        margin-left: 5px !important;
        margin-right: 5px !important;
        img{
            width:100%;
        }
    }
  .cardSlide {
    height: 40px !important;
    display: flex;
    justify-content: center;
    padding: 5px;
    align-items: center;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    border-radius: 4px;
    flex-direction: column;
  }
 .cardolax{
		object-fit: cover !important;
		min-height: 147px;
	}

.image-brand {
	max-width: 135px;
    min-height: 90px;
    max-height: 90px;
    min-width: 135px;
    overflow: hidden;
    background-color: #e0eeef;
    border-radius: 5px;
}

.judul-brand {
	font-family: 'Poppin';
    font-size: 15px;
    max-height: 65px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    // top: 75%;
}

.custom-skeleton ion-skeleton-text {
  line-height: 13px;
}

.custom-skeleton ion-skeleton-text:last-child {
  margin-bottom: 5px;
}

ion-label {
	display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    white-space: normal !important;
    vertical-align: baseline;
    border-radius: .25em;
}