::root{
    --ion-color-saleskit: #ee3158;
    --ion-color-saleskit-rgb: 238,49,88;
    --ion-color-saleskit-contrast: #ffffff;
    --ion-color-saleskit-contrast-rgb: 255,255,255;
    --ion-color-saleskit-shade: #d12b4d;
    --ion-color-saleskit-tint: #f04669;
}