.acc-handle:hover {
    color: #2f71c4;
    background: #fafafa;
}

.acc-handle:before, acc-handle:after{
    content: '';
    position: absolute;
    transition: all .3s ease;
}

.acc-handle:before{
    width: 1rem;
    top: 50%;
    margin-top: -0.15em;
    right: 1.45em;
}

.acc-handle:after{
    height: 0.2em;
    width: 0.3em;
    right: 1.8em;
    top: 50%;
    margin-top: -0.55em;
}

.acc-handle {
    text-decoration: none;
}

.scrolling-wrapper {
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  
    ion-buttons {
      display: inline-block;
    }
}

.active-class {
    background-color:#bee2ff;
    color: darkgray;
    border-radius: 20px;
    padding: 5px 20px 5px 20px;
    border: 1px solid #dadada;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.4);
}

.not-active-class {
    background-color:#f7f7f7;
    color: darkgray;
    border-radius: 20px;
    padding: 5px 20px 5px 20px;
    border: 1px solid #dadada;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.4);
}

ion-content{
    scroll-behavior: smooth;
}

.buttontop{
    --background: transparent;
    --ion-color-base: transparent !important;
}

ion-row{
    ion-card{
        border-radius: 10px;
        width: 98% !important;
        height: 98% !important;
        margin-left: 5px !important;
        margin-right: 5px !important;
        img {
            width: 100%;
        }
    }
}